{% extends "base.html"  %}

{% block title %} check {% endblock %}
{% block navbar %}
{{ super() }}
<style>
checkbox{
width:1000px;

height:1000px;

}
</style>
{%- endblock navbar %}
{% block content  %}
<div class="ibox-content">
    <div class="text-center m-t-lg">       
        <h1>
            3.更换SSL证书
        </h1>
    </div>

    <hr>
<form method="POST" class="m-t" role="form">
	{{ form.csrf_token }}
	<div>{{ form.filename.label }} 
	     {{ form.filename(class="form-control",rows=3, multiple=True) }}
	</div>
	<label class="control-label">请复制上一步骤的信息粘贴到下面</label>
	{{ form.content(class="form-control",rows=20)}}
	{{ form.submit(class="btn btn-primary block full-width m-b") }}<br>
</form>
</div>
{% endblock %}
